<%- css("css/index/sidebar.css") %>
<%- include('module/sidebar') %>
<div class="main">
    <div class="something">
        <%- markdown(site.data.home.aboutsite) %>
    </div>
    <div class="recent-posts">
        <% site.posts.each(function(post) { %>
            <%- include('module/post-card', {post: post}) %>
        <% }); %>
    </div>
</div>