<div class="sidebar">
    <div class="author">
        <img src="<%= theme.sidebar.avatar %>" class = "author">
        <p><%= theme.sidebar.author %></p>
        <p><%= theme.sidebar.description %></p>
    </div>
    <div class="yiyan">
        <% if(theme.sidebar.yiyan.enable){ %>
            <p>aaa</p>
        <%}%>
    </div>
    <%- include('nav.ejs') %>
</div>