<div class="sidebar">
    <div class="author">
        <img src="<%= theme.sidebar.avatar %>"
        style="
        
        ">
        <p style="text-align:center;"><%= theme.sidebar.author %></p>
        <p style="text-align:center;"><%= theme.sidebar.description %></p>
    </div>
    <div class="yiyan">
        <% if(theme.sidebar.yiyan.enable){ %>
            <p>aaa</p>
        <%}%>
    </div>
    <div class="nav">
    </div>
</div>